.about-me{
    @include container($max-width: 60em);
    @include clearfix;

    margin-top: 3em;
    margin-bottom: 5em;
}

.about-img{
    width: 50em;
    @media (min-width: 40em){
        float: left;
        margin-right: 1em;
    }
}

.about-title{
    margin-bottom: 0em;
}

.about-subtitle{
    margin: 0.5em 0;
}

@supports(display: grid){
    .about-me{
        display: grid;
        grid-template-columns: [port-start]minmax(7em, 1fr) [name-start]minmax(6em, 1fr) [img-end]1fr [port-end];
        gap: .5em;
        column-gap: 1em;
        @include mq($width: 60em){
            grid-template-columns: [port-start]minmax(24em, 1fr) [name-start]minmax(6em, 1fr) [img-end]2fr [port-end];
        }
    }

    .about-img{
        grid-column: port / img;
        grid-row: 1 / 2;

        @include mq($width: 60em){
            grid-row: 1 / 4;
        }
    }

    .about-title{
        grid-row: 2/3;
        grid-column: port / port;
        align-self: end;
        @include mq($width: 60em){
            grid-row: 1 / 2;
            grid-column: image-end / port;
        }
    }

    .about-subtitle,
    .about-text{
        grid-column: port / port;

        @include mq($width: 60em){
            grid-column: image-end / port-end;
        }
    }

    .about-subtitle{
        grid-row: 3/4;
        @include mq($width: 60em){
            grid-row: 2 / 3;
        }
    }

    .about-text{
        grid-row: 4/4;
        @include mq($width: 60em){
            grid-row: 3 / 4;
        }
    }
}