* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content{
    display: block;
    margin-right: 140px;
    margin-left: 140px;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

body{
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #333;
}

h1{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
    margin: .67em 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-top: 0;
    margin-bottom: 10px;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.body{
    background-color: #2c2f31;
    color: #2c2f31;
}

.section{
    margin-right: 30px;
    margin-left: 30px;
}

.container{
    width: 100%;
    height: auto;
    max-width: 90vw;
    margin-right: 0px;
    margin-left: 0px;
    border-top: 5px solid #fff;
    border-bottom: 5px none #fff;
}

@media screen and (min-width: 1920px) {
    .container {
        width: auto;
        max-width: none;
        margin-top: 0px;
        margin-right: 65px;
        margin-left: 65px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }
}

.intro-wrap{
    margin-top: 100px;
    margin-bottom: 140px;
}

@media screen and (min-width: 1920px) {
    .intro-wrap {
        margin-bottom: 20px;
        border-bottom: 5px none #fff;
    }
}

.name-text{
    font-family: Merriweather, serif;
    color: #f2f2f2;
    font-size: 36px;
    line-height: 34px;
    font-weight: 700;
    -o-object-fit: fill;
    object-fit: fill;
}

.paragraph-light{
    opacity: 0.6;
    font-family: Play, sans-serif;
    color: #d1cfcd;
    font-size: 20px;
}

.paragraph-bigger{
    margin-bottom: 10px;
    opacity: 1;
    font-family: Play, sans-serif;
    color: #d1cfcd;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    text-transform: none;
    -webkit-column-count: auto;
    column-count: auto;
    -webkit-column-rule-style: none;
    column-rule-style: none;
}

.heading-3{
    color: #f2f2f2;
    text-align: center;
}

.footer-wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #101112;
}

.footer-links{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-item{
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.6;
    font-family: Play, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.layout-grid{
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}