.menu-button{
    position: fixed;
    top: 3em;
    left: 3em;
    background: transparent;
    border: 0;

    width: 3em;
    height: auto;

    @include mq{
        display: none;
    }
}


.nav-close{
    display: none;
}

nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform ease-out 250ms;
    @include mq{
        transform: translateX(0);
        right: 0;
        height: 4vh;
    }
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: stretch;
    background: $accent;

    @include mq{
        flex-direction: row;
        height: 4vh;
        align-items: center;
        justify-content: flex-end;
        background: rgba($accent, 0.2);
    }
}

nav li{
    text-align: center;

    &:not(:last-of-type){
        border-bottom: 1px solid $dark-blue;
        @include mq{
            border: none;
        }
    }
    @include mq{
        margin-right: 1em;
    }
}

nav li:hover{
    background: darken($accent, 5);
}

nav a{
    display: inline-block;
    @include sans-serif($fs: 4rem, $colour: $dark-blue);
    text-decoration: none;
    padding: calc(100vh/8) 0;
    line-height: 0;
    width: 100%;
    @include mq{
        @include sans-serif($fs: 2rem, $colour: $dark-blue);
        padding: 0;
    }
}

.nav-is-open{
    height: 100vh;
    overflow-y: hidden;

    nav{
        transform: translateX(0);
    }
    .container-all{
        transform: translateX(80%);
        overflow-y: hidden;
    }
    .nav-close{
        display: block;
    }
    .menu-hamburger{
        display: none;
    }
    .menu-button{
        transform: translateX(-70%);
    }
}