.menu-button{
    position: absolute;
    top: 1em;
    left: 3em;
    background: transparent;
    border: 0;

    width: 3em;
    height: auto;

    @include mq($width: 70em){
        display: none;
    }
}

nav{
    position: fixed;
    background: $nav-bar-black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    z-index: 5;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform ease-out 250ms;
    @include mq($width: 70em){
        position: sticky;
        transform: translateX(0);
        right: 0;
    }
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: stretch;
    

    @include mq($width: 70em){
        justify-content: start;
    }
}

nav li{
    text-align: center;
    &:not(:last-of-type){
        border-bottom: 1px solid $dark-blue;
        @include mq($width: 70){
            border: none;
        }
    }
    @include mq($width: 70em){
        &:is(:first-child){
            margin-top: 3em;
        }
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
}

nav li:hover{
    background: black;
}

nav a{
    display: inline-block;
    @include sans-serif($fs: 4rem, $colour: $white);
    text-decoration: none;
    padding: calc(100vh/8) 0;
    line-height: 0;
    width: 100%;

    @include mq($width: 70em){
        @include sans-serif($fs: 3rem, $colour: $white);
        padding: 0;
    }
}



.nav-close{
    display: none;
}

.nav-is-open{
    height: 100vh;
    overflow-y: hidden;

    nav{
        transform: translateX(0);
    }
    .container-all{
        transform: translateX(80%);
        overflow-y: hidden;
    }
    .nav-close{
        display: block;
    }
    .menu-hamburger{
        display: none;
    }
    .menu-button{
        transform: translateX(-70%);
    }
}

.social-icons{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    @include mq($width: 70em){
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 7.3vw);
        gap: .4vw;
    }
}
.social-icon{
    max-width: 20%;
    @include mq($width: 70em){
        display: flex;
        margin: auto;
        justify-content: center;
        align-self: center;
        max-width: 60%;
    }
}
