.menu-button{
    position: absolute;
    top: 1em;
    left: 3em;
    background: transparent;
    border: 0;

    width: 3em;
    height: auto;

    @include mq($width: 70em){
        display: none;
    }
}

.nav{
    display: flex;
    padding: 30px 50px;
    align-items: center;
    position: relative;
    background: $nav-bar-black;

}

.navigation-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    text-align: left;
}

.navigation-wrap{
    display: flex;
    margin-right: -20px;
    justify-content: flex-start;
    align-items: center;
    align-self: auto;
    order: 0;
    flex: 0 1 auto;
}

.navigation-menu{
    position: relative;
    float: right;
}

.navigation-link{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.navigation-item{
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid transparent;
    opacity: 0.9;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #f3f3f3;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    mix-blend-mode: normal;
}

.navigation-item-current{
    opacity: 1;
    font-family: Play, sans-serif;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 6px #000;
    mix-blend-mode: normal;
}


// nav li:hover{
//     background: $accent;
// }

// .nav-close{
//     display: none;
// }

// .nav-is-open{
//     height: 100vh;
//     overflow-y: hidden;

//     nav{
//         transform: translateX(0);
//     }
//     .container-all{
//         transform: translateX(80%);
//         overflow-y: hidden;
//     }
//     .nav-close{
//         display: block;
//     }
//     .menu-hamburger{
//         display: none;
//     }
//     .menu-button{
//         transform: translateX(-70%);
//     }
// }