.portfolio-page{
    margin: 0 auto;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    a{
        color: $default-text;
        text-decoration: none;
    }
    img{
        width: 100%;
        max-height: 25em;
        object-fit: cover;
        object-position: top;
    }
}

.portfolio-section-title{
    @include sans-serif($fs: 2.2rem)
}

p.portfolio-section-content{
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 2.5em;
}
p.portfolio-section-content ~ p.portfolio-section-content{
    margin-top: 0em;
}


.portfolio-page-header{
    margin-bottom: 2em;
}