.portfolio-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    a{
        color: $default-text;
        text-decoration: none;
    }
    img{
        width: 100%;
        max-height: 25em;
        object-fit: cover;
        object-position: top;
    }
}



.portfolio-page-content-project-details{
    background: $gray;
}

.container{
    padding-top: 2em;
    @include container($max-width: 50em);
}

.portfolio-section-title-box{
    @include sans-serif($fs: 2.2rem)
}

.portfolio-page-header{
    padding-top: 1em;
    background: $dark-gray;
}

.download-mobile{
    @include mq{
        display: none;
    }
}
.download-desktop{
    display: none;
    @include mq{
        display: inline-block;
    }
}