.portfolio-page{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    a{
        color: $default-text;
        text-decoration: none;
    }
}



.portfolio-page-content-section1{
    background: $gray;
    padding-bottom: 1em;
    img{
        height: 100%;
    }
}

.portfolio-page-content-section2{
    padding-bottom: 1em;
    img{
        height: 100%;
    }
}

.container{
    padding-top: 2em;
    @include container($max-width: 50em);
}

.portfolio-page-title{
    margin-top: .3em;
    margin-bottom: 0.2em;
}
.portfolio-page-subtitle{
    margin-bottom: 0.5em;
}

.portfolio-page-header{
    padding-top: 2em;
    background: $dark-gray;
}

.download-mobile{
    @include mq{
        display: none;
    }
}
.download-desktop{
    display: none;
    @include mq{
        display: inline-block;
    }
}